*{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
/* Banner Style */
.header-style{
    background-image: url(  /images/banner/banner3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    height: 800px;
}
.header-element-style{
    text-align: right;
    color: azure;
    padding: 200px 150px 100px 400px;
}
.header-title{
    font-size: 50px;
    font-weight: 800;
    padding-left: 400px;
}
.header-description{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left:390px ;
}
.button-style{
    font-size: 19px;
    font-weight: 400px;
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 6px;
    color:rgb(7, 123, 173);
}

/*  Failures Section */
.failures-style{
    display: flex;
    padding: 100px 150px;
    gap: 90px;
}
.failures-style .image-position{
    width: 500px;
    height: 700px;
}
.failures-style .failures{
    padding-top: 250px;
    padding-right: 100px;
}
.failures-title{
    font-size: 36px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.failures-description{
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(83, 82, 82);
}
.fa-solid fa-check{
    color:brown
}
